<body>
    <div class="top">
        <h1 style="color: white"><%= link_to "Blog", root_path, class: "home-link" %></h1>
    </div>
    <h1>New Article</h1>

    <%= render "form", article: @article %>
</body>